.wrapper {
  position: fixed;
  left: -3.5rem;
  bottom: 8.5rem;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);

  .btn__new {
    border: none;
    outline: none;
    display: inline-block;
    text-transform: capitalize;
    padding: 0.2rem 1rem;
    font-size: 1.4rem;
    background-color: #ff6600;
    color: #fff;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    z-index: 700;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 0.85;
    }
  }
}
