.darkmode {
  width: 3.7rem;
  height: 3.7rem;
  background-color: #555;
  position: fixed;
  bottom: 8.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  z-index: 10;
  cursor: pointer;

  & > * {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: #fff;
  }
}
