.app {
  transition: all 0.1s ease-in-out;
}

.app.dark {
  background-color: #141d26;
  background-color: #2d2d2d;
  background-color: #222;
  color: #fff;
  color: #d4d8db;
  color: rgb(156, 156, 156);
  transition: all 0.1s ease-in-out;

  // navbar
  .Navbar_navbar__VkIDk {
    background-color: rgb(39, 38, 38);
    color: rgb(156, 156, 156);
    box-shadow: rgba(156, 156, 156, 0.1) 0px 2px 15px 1px;
    
    .Navbar_scrolled__DNvxS {
      background-color: rgba(39, 38, 38, 0.1);
    }

    .Navbar_navbar__left__qzrXy {
      .Navbar_list__FYMSw {
        .Navbar_list__items__0jYbV {
          color: #d4d8db;
          
          .Navbar_navbar__link__sCezK {
            color: #d4d8db;
          }
          
          .Navbar_btn__logout__vltsr {
            color: #d4d8db;
          }
        }
      }
    }

    .Navbar_navbar__right__TUbgQ {
      .Search_search__cq85m {
        background-color: transparent;

        .Search_search__input__xurNN {
          border-color: rgb(156, 156, 156);
          caret-color: #d4d8db;
        }
      }

      .Navbar_hamburger__9cKjK {
        span {
          background-color: #d4d8db;
        }
      }
    }
  }

  // sidebar
  .Sidebar_sidebar__W9vgL {
    background-color: rgb(39, 38, 38);
    color: rgb(156, 156, 156);

    .Sidebar_list__xj82V {
      .Sidebar_list__items__mQKeU {
        .Sidebar_sidebar__link__yt1B6 {
          &,
          &:link,
          &:visited {
            color: #d4d8db;
          }
        }
        
        .Sidebar_btn__logout__rRyRE {
          color: #d4d8db;
        }
      }
    }

    .Sidebar_search__NcTFe {
      background-color: transparent;
      border-color: rgb(156, 156, 156);
      caret-color: #d4d8db;
    }

    .Sidebar_wrapper__0rQbM {
      .Sidebar_darkmode__nG7FJ {
        & > * {
          color: #d4d8db;
        }
      }
    }
  }

  // hero
  .Hero_header__2nsXG {
    background-image: linear-gradient(
        to right bottom,
        rgba(55, 55, 55, 0.95),
        rgba(00, 00, 00, 0.95)
      ),
      url('/img/hero.jpeg');

    .Hero_header__text__e_RZc {
      .Hero_heading__primary__7IFHk {
        color: rgb(156, 156, 156);
      }
    }

    a {
      &,
      &:link,
      &:visited {
        background-color: #333;
        color: #d4d8db;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }

  // featured albums
  .FeaturedAlbums_container__c_7UP {
    background-color: rgba(2, 2, 2, 0.015);

    .FeaturedAlbums_heading__secondary__wZh_I {
      color: #aaa;

      &::after {
        background-color: #aaa;
      }
    }
  }

  // single album
  .SingleAlbum_container__FbM0d {
    .SingleAlbumHero_header__y49A2 {
      .SingleAlbumHero_header__heroOverlay__snBo3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(55, 55, 55, 0.95),
          rgba(00, 00, 00, 0.95)
        );
      }

      .SingleAlbumHero_headingPrimary__npPr7 {
        span {
          background-image: linear-gradient(
            to bottom right,
            rgba(22, 22, 22, 0.45),
            rgba(33, 33, 33, 0.85)
          );
        }
      }
    }

    .AlbumDescription_description__CHWri {
      .AlbumDescription_left__D_PKi {
        .AlbumDescription_album__wrapper__y9L6G {
          .AlbumDescription_album__heading__ChcZD {
            color: #aaa;

            &::after {
              background-color: #aaa;
            }
          }

          .AlbumDescription_album__details__QTstV {
            span {
              color: rgb(156, 156, 156);
            }

            .AlbumDescription_icon__CQXqe {
              fill: #d4d8db;
            }
          }
        }

        .AlbumDescription_action__xEOvz {
          .AlbumDescription_action__wrapper__EMcfj {
            .AlbumDescription_view__container__9sooH {
              .AlbumDescription_action__icon__4RS01 {
                fill: #d4d8db;
              }
            }

            .AlbumDescription_views__nHxXa {
              color: rgb(156, 156, 156);
            }

            .AlbumDescription_action__icon__4RS01 {
              fill: #d4d8db;
            }
          }
        }
      }

      .AlbumDescription_right__No6EF {
        .AlbumDescription_rightWrapper__YiOYQ {
          .AlbumDescription_album__heading__ChcZD {
            color: #aaa;

            &::after {
              background-color: #aaa;
            }
          }

          .AlbumDescription_album__info__pI5Nt {
            color: rgb(156, 156, 156);
          }
        }

        .AlbumDescription_btn__info__hA_Au {
          color: #d4d8db;
        }
      }
    }

    .ReviewForm_review__43b_6 {
      background-color: rgb(32, 32, 32);

      .ReviewForm_form__Nl2wU {
        .ReviewForm_review__header__wNPip {
          color: #aaa;

          &::after {
            background-color: #aaa;
          }
        }

        .ReviewForm_form__group__gq_F4 {
          .ReviewForm_form__control__X_eur {
            background-color: transparent;
            color: rgb(156, 156, 156);
            border: 0px solid rgb(156, 156, 156);
            caret-color: rgb(156, 156, 156);

            &::placeholder {
              color: rgb(156, 156, 156);
            }
          }
        }

        .ReviewForm_form__wrapper__trkS6 {
          .ReviewForm_right__k5v4F {
            .ReviewForm_form__btn__Aazz3 {
              background-color: #333;
              color: #d4d8db;

              &:hover {
                opacity: 0.75;
              }

              &:focus {
                outline: #333;
              }

              &:disabled {
                background-color: #444;
              }
            }
          }
        }
      }
    }

    .Reviews_reviews__RnP0W {
      .Reviews_header__urxzu {
        color: #aaa;

        &::after {
          background-color: #aaa;
        }
      }

      .ReviewCard_review__0D8gw {
        background-color: #444;

        .ReviewCard_review__card__F5YEx {
          background-color: #222;

          .ReviewCard_left__s3twT {
            .ReviewCard_reviewer__LDbyg {
              .ReviewCard_reviewer__name__3r8NG {
                color: #d4d8db;
              }
            }

            .ReviewCard_reviewer__review__vEBe2 {
              color: rgb(156, 156, 156);
            }

            .ReviewCard_line__kNAJh {
              background-color: #444;
            }

            .ReviewCard_date__qUomL {
              color: #999;
            }
          }

          .ReviewCard_right__SaFFv {
            .ReviewCard_image__wrapper__BAaPd {
              img {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }

    .RelatedAlbums_related__O3M5D {
      background-color: rgb(32, 32, 32);

      .RelatedAlbums_related__wrapper__sTKct {
        .RelatedAlbums_related__header__Habrg {
          color: #aaa;

          &::after {
            background-color: #aaa;
          }
        }

        .RelatedAlbums_related__container___C0dc {
          .RelatedAlbumCard_related__card__I_DdG {
            .RelatedAlbumCard_right__p_a2i {
              .RelatedAlbumCard_title___X7P_ {
                color: #d4d8db;
              }

              .RelatedAlbumCard_artist__PO7ER {
                color: rgb(156, 156, 156);
              }

              .RelatedAlbumCard_year__XqOVz {
                color: #777;
              }
            }
          }
        }
      }
    }
  }

  // album card
  .AlbumCard_card___jywH {
    background-color: rgb(25, 25, 25);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

    .AlbumCard_card__pictureOverlay__V6rbb {
      background-image: linear-gradient(
        to right bottom,
        rgba(11, 11, 11, 0.95),
        rgba(00, 00, 00, 0.95)
      );
    }

    .AlbumCard_heading__tertiary__6bta3 {
      color: rgb(156, 156, 156);

      span {
        background-image: linear-gradient(
          to bottom right,
          rgba(22, 22, 22, 0.45),
          rgba(33, 33, 33, 0.85)
        );
      }
    }

    .AlbumCard_card__tag__xvHqB {
      .AlbumCard_tag__link__ZLFNb {
        &,
        &:link,
        &:visited {
          color: rgb(156, 156, 156);
        }
      }
    }

    .AlbumCard_card__text__QN_eX {
      color: rgb(156, 156, 156);
    }

    .AlbumCard_card__footer__VKeFO {
      border-color: #222;

      .AlbumCard_card__ratings__FmHbG {
        & > * {
          color: #d4d8db;
        }
      }

      .AlbumCard_card__footerBtn__MQz9j {
        &,
        &:link,
        &:visited {
          background-color: rgba(2, 2, 2, 0.15);
          color: #d4d8db;
        }

        &:hover,
        &:active {
          background-color: rgba(2, 2, 2, 0.2);
        }
      }
    }
  }

  // search page
  .Albums_main__CKNqF {
    .Albums_searchWrapper__LA1PE {
      h1 {
        color: rgb(156, 156, 156);
      }

      h3 {
        color: rgb(156, 156, 156);
      }
    }
  }

  // like button
  .LikeButton_icon__wrapper__Xhzzc {
    .LikeButton_like__icon__cKcb6 {
      fill: #d4d8db;
    }
  }

  // pagination
  .Pagination_pagination__CSBV_ {
    .Pagination_currentPage__4bcsq {
      color: rgb(156, 156, 156);
      border-color: rgb(156, 156, 156);
    }

    .Pagination_prevPage__dpNme,
    .Pagination_nextPage__ADduB {
      color: rgb(156, 156, 156);

      &:hover {
        color: #444;
      }
    }

    .Pagination_pageInfo__yXoEI {
      color: rgb(156, 156, 156);
    }

    .Pagination_right__9N3DR {
      span {
        color: rgb(156, 156, 156);
      }

      input {
        background-color: transparent;
        border-color: rgb(156, 156, 156);
      }
    }
  }

  // dashboard
  .Dashboard_container__VeyLJ {
    .Dashboard_header__gUeIh {
      color: #aaa;

      &::after {
        background-color: #aaa;
      }
    }

    .DashboardCard_wrapper__NxUE0 {
      background-color: #333;

      .DashboardCard_card__66EP6 {
        background-color: #222;
      }

      .DashboardCard_card__left__eW4jZ {
        .DashboardCard_card__img__FVl6b {
          .DashboardCard_overlay__pyCpi {
            background-image: linear-gradient(
              to right bottom,
              rgba(11, 11, 11, 0.95),
              rgba(00, 00, 00, 0.95)
            );
          }
        }

        .DashboardCard_card__heading__Ut8Nu {
          span {
            background-image: linear-gradient(
              to bottom right,
              rgba(22, 22, 22, 0.45),
              rgba(33, 33, 33, 0.85)
            );
          }
        }
      }

      .DashboardCard_card__right__Kt1FP {
        .DashboardCard_card__info__g4SRp {
          color: #777;
        }

        .DashboardCard_card__line__gOfIA {
          background-color: #444;
        }

        .DashboardCard_card__button__Zs9CU {
          .DashboardCard_card__updateBtn__AOf99 {
            &,
            &:link,
            &:visited {
              font-weight: 300;
              background-color: transparent;
              color: #999;
            }

            &:hover {
              background-color: rgba(90, 107, 246, 0.3);
            }
          }

          .DashboardCard_card__delete__wJruq {
            font-weight: 300;
            background-color: transparent;
            color: #999;

            &:hover {
              background-color: rgba(255, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }

  // genres
  .Genres_genres__7spPE {
    .Genres_table__CRZjj {
      th,
      td {
        border-bottom: 1px solid #444;
      }

      th {
        background-color: transparent;
        color: #d4d8db;
      }

      tr:nth-of-type(odd) {
        background-color: transparent;
      }

      .Genres_buttonContainer__Mip9k {
        .Genres_btnUpdate__yJhvT {
          &,
          &:link,
          &:visited {
            background-color: transparent;
            color: #008080;
            border: 1px solid #008080;
          }

          &:hover,
          &:active {
            background-color: rgba(0, 128, 128, 0.3);
          }
        }

        .Genres_btnDelete__98uWt {
          background-color: transparent;
          color: #f00;
          border: 1px solid #f00;

          &:hover {
            background-color: rgba(255, 0, 0, 0.3);
          }
        }
      }
    }
  }

  // top albums
  .TopAlbums_top__b7xVE {
    .TopAlbums_headerBox__8AvoK {
      h1 {
        color: #aaa;
      }
    }

    .TopAlbums_table__DHiDm {
      th,
      td {
        border-bottom: 1px solid #444;
      }

      th {
        color: #d4d8db;
      }

      td {
        color: #b5aeae;
      }

      .TopAlbums_tableOrder__IATJ0 {
        fill: #d4d8db;
      }

      .TopAlbums_albumLink__e5AE1 {
        &,
        &:link,
        &:visited {
          color: #b5aeae;
        }
      }
    }
  }

  // top reviews
  .TopReviews_container__oSyLg {
    h3 {
      color: #aaa;

      &::after {
        background-color: #aaa;
      }
    }

    .TopReview_reviews__wEA7g .TopReview_reviewer__review__NeN0i p {
      color: #d4d8db;
    }
  }

  // tags
  .Tags_container__xXYYk {
    .Tags_heading__rh2VJ {
      .Tags_heading__main__BOtxb {
        color: #aaa;
      }

      &::after {
        background-color: #aaa;
      }

      .Tags_heading__sub__WF4Fy {
        color: #d4d8db;
      }
    }

    .TagCard_wrapper__ChVQ8 {
      background-color: transparent;
      box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);

      .TagCard_left__GYDNJ {
        .TagCard_card__image__tw7sE {
          .TagCard_overlay___9xEx {
            background-image: linear-gradient(
              to right bottom,
              rgba(11, 11, 11, 0.95),
              rgba(00, 00, 00, 0.95)
            );
          }
        }

        .TagCard_card__heading___li6I {
          span {
            background-image: linear-gradient(
              to bottom right,
              rgba(22, 22, 22, 0.45),
              rgba(33, 33, 33, 0.85)
            );
          }
        }
      }

      .TagCard_right__Xzg_o {
        .TagCard_card__info__a64l_ {
          color: rgb(156, 156, 156);
        }
      }

      .TagCard_btnWrapper__9YdZo {
        .TagCard_btn__zB7zN {
          color: rgb(156, 156, 156);
          border: 1px solid rgb(156, 156, 156);

          &.TagCard_btn__zB7zN:hover {
            color: #aaa;
            border-color: #aaa;
          }
        }
      }
    }
  }

  // password
  .UpdatePassword_account__5E8tH {
    .UpdatePassword_account__heading__bndaE {
      color: #aaa;
    }

    .UpdatePassword_account__container__9wXk7 {
      box-shadow: 0 0.5rem 3rem rgba(7, 7, 7, 0.3);

      .UpdatePassword_left__66EZ1 {
        border-color: #444;

        .UpdatePassword_userContainer__xpzyl {
          .UpdatePassword_imageContainer__guSd5 {
            border-color: #777;
            box-shadow: 0 2px 1rem rgba(7, 7, 7, 0.97);
          }

          .UpdatePassword_userName__jPPpN {
            color: #d4d8db;
          }
        }

        .UpdatePassword_list__QbtTu {
          .UpdatePassword_active__OP1nu {
            background-color: #333;
          }

          .UpdatePassword_list__item__SYPmO {
            border-color: #444;

            &:hover {
              background-color: #333;
              opacity: 0.75;
            }

            .UpdatePassword_itemIcon__keqve {
              fill: #d4d8db;
            }

            .UpdatePassword_itemLink__IWUYP {
              &,
              &:link,
              &:visited {
                color: #d4d8db;
              }
            }
          }
        }
      }

      .UpdatePassword_right__q34Q7 {
        .UpdatePassword_accountHeader__Gy9o1 {
          color: #d4d8db;
        }

        .UpdatePassword_formWrapper__8zPZl {
          .UpdatePassword_form__icon__Vuz_t {
            fill: #d4d8db;
          }
        }
      }
    }
  }

  // delete account(modal)
  .DeleteAccount_container__c0tFE {
    .DeleteAccount_wrapper__Mhx__ {
      .DeleteAccount_btnContainer__cSLjk {
        background-color: #444;

        .DeleteAccount_cancelBtn__E6F2A {
          color: #d4d8db;
        }

        .DeleteAccount_deleteBtn__SocaI {
          background-color: rgba(255, 0, 0, 0.1);
          color: #f00;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  // account
  .Account_account__HiveC {
    .Account_account__heading__iYqJU {
      color: #aaa;
    }

    .Account_account__container__Z0Qpc {
      box-shadow: 0 0.5rem 3rem rgba(7, 7, 7, 0.3);

      .Account_left__h91dv {
        border-color: #444;

        .Account_userContainer___wsAY {
          .Account_imageContainer__zQFkp {
            border-color: #777;
            box-shadow: 0 2px 1rem rgba(7, 7, 7, 0.97);
          }

          .Account_userName__d8e_K {
            color: #d4d8db;
          }
        }

        .Account_list__XbaQb {
          .Account_active__97QGN {
            background-color: #333;
          }
        }

        .Account_list__item__WsrY7 {
          border-color: #444;

          &:hover {
            background-color: #333;
            opacity: 0.75;
          }

          .Account_itemIcon__kSwIh {
            fill: #d4d8db;
          }

          .Account_itemLink__9eHSP {
            &,
            &:link,
            &:visited {
              color: #d4d8db;
            }
          }
        }
      }

      .Account_right__o0uDZ {
        .Account_accountHeader__zFg_t {
          color: #d4d8db;
        }

        .Account_formWrapper__O7XDh {
          .Account_form__icon__mM7mk {
            fill: #d4d8db;
          }

          .Account_form__chipIcon__FTYEh {
            fill: #d4d8db;
          }
        }
      }
    }
  }

  // account chip input
  .WAMuiChipInput-inputRoot-229.WAMuiChipInput-outlined-232 {
    border: 1px solid #d4d8db;
    border-radius: 0.6rem;
  }

  // update album
  .UpdateAlbum_container__hZV_Y {
    .UpdateAlbum_wrapper__nzfGh {
      box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);

      .UpdateAlbum_header__pSCsX {
        h1 {
          color: #aaa;
          box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);
        }
      }

      .UpdateAlbum_form__container__41r69 {
        box-shadow: rgba(7, 7, 7, 0.3) 0px 0px 0px 1.5px,
          rgba(7, 7, 7, 0.3) 0px 2px 8px 1.5px;
      }

      .UpdateAlbum_form__wrapper__m4cCv {
        background-color: transparent;

        .UpdateAlbum_form__headline__LYuZ2 {
          color: #d4d8db;
        }
      }

      .UpdateAlbum_form__btnWrapper__R_sUe {
        .UpdateAlbum_form__btn__3c7tK {
          background-color: #333;
          color: #d4d8db;

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  // form (album/genre)
  .Form_container__Ze_eG {
    .Form_wrapper__JmfLl {
      box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);
    }

    .Form_header__sVNd6 {
      h1 {
        color: #aaa;
        box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);
      }
    }

    .Form_form__container__ZGPzI {
      box-shadow: rgba(7, 7, 7, 0.3) 0px 0px 0px 1.5px,
        rgba(7, 7, 7, 0.3) 0px 2px 8px 1.5px;

      .Form_form__wrapper__kEfEz {
        background-color: transparent;

        .Form_form__headline__rjmqm {
          color: #d4d8db;
        }
      }
    }
  }

  // update genre
  .UpdateGenre_container__W77El {
    .UpdateGenre_wrapper__whQ_g {
      box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);
    }

    .UpdateGenre_header___G3Js {
      h1 {
        color: #aaa;
        box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);
      }
    }

    .UpdateGenre_form__container__k2j6O {
      box-shadow: rgba(7, 7, 7, 0.3) 0px 0px 0px 1.5px,
        rgba(7, 7, 7, 0.3) 0px 2px 8px 1.5px;

      .UpdateGenre_form__wrapper__vKZJ_ {
        background-color: transparent;

        .UpdateGenre_form__headline__dzObv {
          color: #d4d8db;
        }
      }
    }
  }

  // login
  .Login_container__ZQGAt {
    .Login_wrapper___3QoR {
      box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);

      .Login_header__qsCNs {
        h1 {
          color: #aaa;
          box-shadow: 0 2px 5px 3px rgba(7, 7, 7, 0.3);
        }
      }

      .Login_form__container__FPLFv {
        box-shadow: rgba(7, 7, 7, 0.3) 0px 0px 0px 1.5px,
          rgba(7, 7, 7, 0.3) 0px 2px 8px 1.5px;
      }

      .Login_form__wrapper__DSRdU {
        background-color: transparent;

        .Login_form__headline___4cBh {
          color: #d4d8db;
        }

        .Login_form__icon__G_c2U {
          fill: #d4d8db;
        }

        .Login_form__chipIcon__Ya6ct {
          fill: #d4d8db;
        }
      }
    }

    .Login_form__btn__2YV_H {
      background-color: #333;
      color: #d4d8db;

      &:hover {
        opacity: 0.75;
      }
    }

    .Login_links__JBuKI {
      a {
        &,
        &:link,
        &:visited {
          color: #d4d8db;
        }
      }
    }
  }

  // form input
  .FormInput_form__input__9QKdz {
    background-color: transparent;
    color: #d4d8db;
    caret-color: #d4d8db;

    &::-webkit-input-placeholder {
      color: #d4d8db;
    }
  }

  // form select
  .FormSelectInput_form__select__LUnJo {
    background-color: transparent;
    color: #d4d8db;
    caret-color: #d4d8db;
  }

  // form textarea
  .FormTextArea_form__textarea__eYVUW {
    background-color: transparent;
    color: #d4d8db;
    caret-color: #d4d8db;

    &::placeholder {
      color: #d4d8db;
    }
  }

  // form button
  .FormButton_form__btn__32HnZ {
    background-color: #333;
    color: #d4d8db;

    &:hover {
      opacity: 0.75;
    }
  }

  // chip input
  .WAMuiChipInput-inputRoot-2.WAMuiChipInput-outlined-5 {
    outline: none;
    border: 1px solid #999;
    border-radius: 0.6rem;

    &:focus {
      border: 1px solid #d4d8db;
    }
  }

  .WAMuiChipInput-outlined-5 input {
    background-color: transparent;
    color: #d4d8db;
  }

  // modal
  .Modal_overlay__Ca5IT {
    .Modal_modal__fbvPB {
      background-color: #222;

      .Modal_modal__header__PuOaw {
        .Modal_modal__iconWrapper__Obxgg {
          background-color: transparent;
          color: #f00;
          border: 2px solid #f00;
        }
      }
    }
  }

  // dialog box
  .DialogBox_dialog__cdttC {
    .DialogBox_dialog__modal__MBaJt {
      background-color: #333;
    }
  }

  // delete album/genre modal
  .DeleteAlbumGenre_container__F7IvG {
    .DeleteAlbumGenre_wrapper__Qv8Me {
      .DeleteAlbumGenre_header__rl_9x {
        color: #d4d8db;
      }

      .DeleteAlbumGenre_btnBox__YV9mi {
        .DeleteAlbumGenre_btnCancel__S11H_ {
          color: rgb(156, 156, 156);
        }
      }
    }
  }

  // scroll to top
  .ScrollToTop_scroll__zPX4u {
    .ScrollToTop_iconContainer__XXypw {
      background-color: #555;
      color: #d4d8db;

      &:hover {
        background-color: #777;
        color: rgb(156, 156, 156);
      }

      & > * {
        color: rgb(156, 156, 156);

        &:hover {
          color: rgb(156, 156, 156);
        }
      }
    }
  }

  // footer
  .Footer_footer__BH5s_ {
    background-color: rgb(39, 38, 38);
    color: rgb(156, 156, 156);

    .Footer_footer__navigation__dkypK {
      .Footer_footer__list__RgvgV {
        .Footer_footer__item__uMjf5 {
          a {
            &,
            &:link,
            &:visited {
              color: #d4d8db;
            }

            &:hover,
            &:active {
              color: #999;
            }
          }
        }
      }
    }

    .Footer_footer__copyright__sdLrw {
      a {
        &:hover {
          color: #d4d8db;
        }
      }
    }
  }
}
