.container {
  width: 7rem;
  height: 3rem;
  padding: 2px;
  padding-left: 0.7rem;
  border: 2px solid #29003f;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  @media only screen and (min-width: 56.25em) {
    display: none;
  }

  .icon {
    svg {
      font-size: 2rem;
    }
  }

  .ball {
    width: 2rem;
    height: 2rem;
    background-color: #29003f;
  }
}
