.app {
  transition: all 0.5s ease-in-out;
}

.app.dark{
  background-color: #141d26;
  background-color: #2d2d2d;
  background-color: #222;
  color: #fff;
  color: #d4d8db;
  color: rgb(156, 156, 156);
  transition: all 0.5s ease-in-out;
}
