.container {
  padding: 3rem;

  @media only screen and (max-width: 50em) {
    padding: 2rem;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 1rem;
  }

  @media only screen and (max-width: 17.5em) {
    padding: 0.5rem;       
  }

  .wrapper {
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    
    .warning {
      padding: 3rem;

      @media only screen and (max-width: 50em) {
        padding: 2rem;
      }

      @media only screen and (max-width: 17.5em) {
        padding: 1.5rem;   
      }

      h4 {
        display: inline-block;
        font-weight: 700;
        font-size: 1.8rem;
        color: #333;

        @media only screen and (max-width: 31.25em) {
          font-size: 1.7rem;
        }

        @media only screen and (max-width: 17.5em) {
          font-size: 1.5rem;
        }
      }
  
      p {
        font-size: 1.5rem;
        color: #aaa;
        line-height: 1.4;
        margin-top: 1rem;

        @media only screen and (max-width: 31.25em) {
          font-size: 1.37rem;
        }
      }
    }

    .btnContainer {
      margin-top: 2rem;
      padding: 2rem 3rem;
      background-color: #f7f7f7;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media only screen and (max-width: 50em) {
        padding: 1.5rem 2rem;
      }

      .cancelBtn,
      .deleteBtn {
        border: none;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }

      .cancelBtn {
        background-color: transparent;
        color: #008080;
        margin-right: 1rem;
        
        @media only screen and (max-width: 50em) {
          font-size: 1.4rem;
        }
  
        @media only screen and (max-width: 31.25em) {
          font-size: 1.34rem;
          margin-right: 2rem;
        }

        &:hover {
          opacity: 0.7;
        }
      }

      .deleteBtn {
        padding: 0.7rem 1.5rem;
        background-color: #de0a0a;
        color: #fff;
        border: 1px solid #de0a0a;
        border-radius: 0.5rem;

        @media only screen and (max-width: 50em) {
          font-size: 1.4rem;
          padding: 0.5rem 1.3rem;
        }

        @media only screen and (max-width: 31.25em) {
          font-size: 1.34rem;
        }

        @media only screen and (max-width: 17.5em) {
          font-size: 1.25rem;
        }

        &:hover {
          background-color: rgba(222, 10, 10, 0.1);
          color: #de0a0a;
          border: 1px solid #de0a0a;
        }
      }
    }
  }
}
