.form {
  &__btnWrapper {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 0 6.387%0 0;
  }

  &__btn {
    display: inline-block;
    border: none;
    text-transform: capitalize;
    width: 100%;
    min-width: 11rem;
    padding: 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 900;
    background-color: #5a6bf6;
    color: #fff;
    border-radius: 0.6rem;
    line-height: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: #0da0ff;
    }
  }
}
