.form {
  &__group {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0 6.387%0 0;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  &__textarea {
    display: inline-block;
    font-family: inherit;
    width: 100%;
    height: 20rem;
    padding: 1rem 1.5rem;
    border-color: rgb(155, 155, 155);
    background-color: transparent;
    color: rgb(105, 113, 122);
    border: 0px solid #999;
    border: 1px solid transparent;
    outline: none;
    border-radius: 0.6rem;
    box-shadow: 0 0 0 1px #999;
    caret-color: #1b004f;
    resize: none;
    transition: all 0.15s ease-in-out;

    &::placeholder {
      font-size: 1.3rem;
    }

    &:focus {
      border: 1px solid #999;
    }
  }
}
