.container {
  width: 100%;
  padding-top: 2rem;

  .wrapper {
    padding: 2rem;
    margin: 0 1.5rem;
    border-radius: 0 0 0 0.6rem;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  }

  .header {
    margin-bottom: 1rem;

    h1 {
      font-weight: 900;
      font-size: 3.2rem;
      text-transform: capitalize;
      line-height: 1.5;
      color: #1b004f;
      border-radius: 0 0 6px 6px;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
      padding: 2rem;
      margin-bottom: 3.5rem;
      width: 99%;
    }
  }

  .form {
    &__container {
      max-width: 56rem;
      width: 100%;
      margin: 0 auto;
      font-weight: 400;
      font-size: 1.4rem;
      color: rgb(68, 68, 68);
      border-radius: 0.3rem;
      box-shadow: rgba(0, 20, 40, 0.1) 0px 0px 0px 0.5px, rgba(50, 55, 90, 0.2) 0px 2px 8px 0px;
    }

    &__wrapper {
      max-width: 100%;
      width: 100%;
      height: 40rem;
      padding: 6% 0 6% 6%;
      background: #fff;
      color: #222;
      font-size: 14px;
      position: relative;
      border-radius: 3px;
      margin: 0 auto;
      overflow-y: auto;
      scroll-behavior: smooth;
      scrollbar-color: rgba(0, 0, 0, 0.5);
      scrollbar-width: thin;
      transition: all 0.5s ease-in-out;
      
      &:hover {
        scrollbar-color: rgba(0, 0, 0, 0.9);
      }
    }

    &__headline {
      color: rgb(68, 68, 68);
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1rem;
      margin-top: 0;
      text-align: center;
      margin-right: 6.387%;
    }

    &__group {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding: 0 6.387%0 0;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    &__input {
      display: inline-block;
      font-family: inherit;
      width: 100%;
      padding: 1rem 1.5rem;
      border-color: rgb(155, 155, 155);
      background-color: transparent;
      color: rgb(105, 113, 122);
      border: 0px solid #999;
      border: 1px solid transparent;
      outline: none;
      border-radius: 0.6rem;
      box-shadow: 0 0 0 1px #999;
      caret-color: #1b004f;
      transition: all 0.15s ease-in-out;

      &::-webkit-input-placeholder {
        font-size: 1.3rem;
      }

      &:focus {
        border: 1px solid #999;
      }
    }

    &__textarea {
      display: inline-block;
      font-family: inherit;
      width: 100%;
      height: 20rem;
      padding: 1rem 1.5rem;
      border-color: rgb(155, 155, 155);
      background-color: transparent;
      color: rgb(105, 113, 122);
      border: 0px solid #999;
      border: 1px solid transparent;
      outline: none;
      border-radius: 0.6rem;
      box-shadow: 0 0 0 1px #999;
      caret-color: #1b004f;
      resize: none;
      transition: all 0.15s ease-in-out;

      &::placeholder {
        font-size: 1.3rem;
      }

      &:focus {
        border: 1px solid #999;
      }
    }

    &__select {
      display: inline-block;
      font-family: inherit;
      width: 100%;
      padding: 1rem 1.5rem;
      border-color: rgb(155, 155, 155);
      background-color: transparent;
      color: rgb(105, 113, 122);
      border: 0px solid #999;
      border: 1px solid transparent;
      outline: none;
      border-radius: 0.6rem;
      box-shadow: 0 0 0 1px #999;
      caret-color: #1b004f;

      option {
        font-size: 1.45rem;
        letter-spacing: 0.5rem;
      }
      
      &:focus {
        border: 1px solid #999;
      }
    }

    &__btnWrapper {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      padding: 0 6.387%0 0;
    }

    &__btn {
      display: inline-block;
      border: none;
      outline: none;
      text-transform: capitalize;
      width: 100%;
      min-width: 11rem;
      padding: 2rem 1rem;
      font-size: 1.7rem;
      font-weight: 900;
      background-color: #5a6bf6;
      color: #fff;
      border-radius: 0.6rem;
      line-height: 1;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: #0da0ff;
      }
    }
  }
}
