.genres {
  padding: 15rem 0;
  max-width: 90rem;
  position: relative;
  margin: 0 auto;

  .table {
    width: 100%;
    border-collapse: collapse;
    
    @media only screen and (max-width: 54.38em) {
      display: block;
      width: 100%;
    }
    
    @media only screen and (max-width: 54.38em) {
      thead {
        display: none;
      }
    }

    tr:nth-of-type(odd) { 
      background: #f5f8fa;

      @media only screen and (max-width: 54.38em) {
        background-color: transparent;
      }
    }

    tr {
      @media only screen and (max-width: 54.38em) {
        margin-bottom: 2rem;
      }
    }
    
    tbody,
    tr,
    td {
      @media only screen and (max-width: 54.38em) {
        display: block;
        width: 100%;
        text-align: right;
        padding-left: 50%;
        position: relative;
      }

      @media only screen and (max-width: 40em) {
        padding-left: 45%;
      }

      @media only screen and (max-width: 30em) {
        padding-left: 40%;
      }

      @media only screen and (max-width: 17.5em) {
        padding-left: 35%;
      }
    }

    th { 
      background: #696cff;
      color: #fff;
      opacity: 0.5;
      font-weight: 400;
      padding: 1rem;
      text-align: left;

      @media only screen and (max-width: 54.38em) {
        display: none;
      }
    }
    
    td {
      color: #777;
      text-align: left;
      text-transform: capitalize;
      font-size: 1.5rem;
      padding: 1rem;
      padding-top: 1.5rem;
    }

    .postedOn {
      text-transform: lowercase;
    }

    .tr {
      @media only screen and (max-width: 54.38em) {
        position: relative;
        width: 100% !important;
        
        &:nth-of-type(odd) {
          background-color: transparent;
        }
      }
    }
    
    .order::before,
    .name::before,
    .postedBy::before,
    .postedOn::before {
      @media only screen and (max-width: 54.38em) {
        position: absolute;
        left: -65rem;
        width: 50%;
        font-weight: 700;
        padding-left: 2rem;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: left;
      }

      @media only screen and (max-width: 50em) {
        padding-left: 12rem;
      }
      
      @media only screen and (max-width: 40em) {
        width: 100%;
        left: -55rem;
      }

      @media only screen and (max-width: 35em) {
        left: -50rem;
      }

      @media only screen and (max-width: 30em) {
        left: -43rem;
      }

      @media only screen and (max-width: 26.25em) {
        left: -40rem;
      }

      @media only screen and (max-width: 23.44em) {
        left: -35rem;
      }

      @media only screen and (max-width: 17.5em) {
        left: -30rem;
      }
    }

    .order {
      @media only screen and (max-width: 54.38em) {
        &::before {
          content: '#';
          font-weight: 400;
          font-size: 1.5rem;
          color: #777;
          width: 100%;
        }
      }

      @media only screen and (max-width: 50em) {
        font-size: 1.6rem;
      }
    }
    
    .name {
      @media only screen and (max-width: 54.38em) {
        &::before {
          content: 'Name';
          font-weight: 400;
          font-size: 1.5rem;
          color: #777;
          width: 100%;
        }
      }

      @media only screen and (max-width: 50em) {
        font-size: 1.6rem;
      }
    }
    
    .postedBy {
      @media only screen and (max-width: 54.38em) {
        &::before {
          content: 'Posted By';
          font-weight: 400;
          font-size: 1.5rem;
          color: #777;
          width: 100%;
        }
      }

      @media only screen and (max-width: 50em) {
        font-size: 1.6rem;
      }
    }
    
    .postedOn {
      @media only screen and (max-width: 54.38em) {
        &::before {
          content: 'Posted On';
          font-weight: 400;
          font-size: 1.5rem;
          color: #777;
          width: 100%;
        }
      }

      @media only screen and (max-width: 50em) {
        font-size: 1.6rem;
      }
    }

    .tableOrder {
      fill: #fff;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      padding: 6rem 0;

      @media only screen and (max-width: 54.38em) {
        padding: 2rem 0;
      }

      .btnUpdate:link,
      .btnUpdate:visited,
      .btnDelete {
        border: none;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 0.8rem 1.2rem;
        height: 3.5rem;
        font-size: 1.3rem;
        color: #fff;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        @media only screen and (max-width: 26.25em) {
          padding: 0.8rem 1rem;
        }
      }

      .btnUpdate {
        background-color: #008080;
        margin-right: 0.5rem;

        &:hover,
        &:active {
          opacity: 0.4;
        }
      }

      .btnDelete {
        background-color: #ff0000;

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
