.container {
  width: 100%;
  min-height: calc(100vh - 5.6rem);
  padding-top: 10rem;

  @media only screen and (max-width: 57em) {
    min-height: calc(70vh - 5.6rem);
  }

  @media only screen and (max-width: 51.25em) {
    min-height: calc(55vh - 5.6rem);
  }

  @media only screen and (max-width: 37.5em) {
    min-height: calc(90vh - 5.6rem);
  }

  @media only screen and (max-width: 26.25em) {
    min-height: calc(80vh - 5.6rem);
    margin-top: 3rem;
  }

  @media only screen and (max-width: 24.38em) {
    min-height: calc(70vh - 5.6rem);
  }

  @media only screen and (max-width: 23.44em) {
    min-height: calc(85vh - 5.6rem);
  }

  @media only screen and (max-width: 17.5em) {
    margin-top: 1rem;
    min-height: calc(90vh - 5.6rem);
  }

  .wrapper {
    padding: 2rem;
    margin: 0 3rem;
    border-radius: 0 0 0 0.6rem;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);

    @media only screen and (max-width: 17.5em) {
      padding: 1.5rem;
      margin: 0 1.5rem;   
    }
  }

  .header {
    margin-bottom: 1rem;

    h1 {
      font-weight: 900;
      font-size: 3.2rem;
      text-transform: capitalize;
      line-height: 1.5;
      color: #1b004f;
      border-radius: 0 0 6px 6px;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
      padding: 2rem;
      margin-bottom: 3.5rem;
      width: 99%;

      @media only screen and (max-width: 17.5em) {
       font-size: 2.8rem; 
      }
    }
  }

  .form {
    &__container {
      max-width: 40rem !important;
      width: 100%;
      margin: 0 auto;
      font-weight: 400;
      font-size: 1.4rem;
      color: rgb(68, 68, 68);
      border-radius: 0.3rem;
      box-shadow: rgba(0, 20, 40, 0.1) 0px 0px 0px 0.5px, rgba(50, 55, 90, 0.2) 0px 2px 8px 0px;
    }

    &__wrapper {
      max-width: 100%;
      width: 100%;
      padding: 6%0 6% 6%;
      background-color: #fff;
      color: #222;
      font-size: 14px;
      position: relative;
      border-radius: 3px;
      margin: 0 auto;
    }

    &__headline {
      color: rgb(68, 68, 68);
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1rem;
      margin-top: 0;
      text-align: center;
      margin-right: 6.387%;

      @media only screen and (max-width: 17.5em) {
        font-size: 1.5rem;
      }
    }

    &__group {
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding: 0 6.387%0 0;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    &__input {
      display: inline-block;
      width: 100%;
      font-family: inherit;
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      border-color: rgb(219, 219, 219);
      background-color: transparent;
      color: rgb(105, 113, 122);
      border: 0px solid #999;
      border: 1px solid transparent;
      outline: none;
      border-radius: 0.6rem;
      box-shadow: 0 0 0 1px #999;
      caret-color: #1b004f;
      transition: all 0.15s ease-in-out;

      &::-webkit-input-placeholder {
        font-size: 1.3rem;
      }

      &:focus {
        border: 1px solid #999;
      }
    }

    &__icon {
      position: absolute;
      font-size: 2rem;
      fill: #5a6bf6;
      top: 1rem;
      right: 4rem;
      cursor: text;

      
      @media only screen and (max-width: 37.5em) {
        top: 1.3rem; 
       }

      @media only screen and (max-width: 17.5em) {
        font-size: 1.8rem;
        top: 1.3rem; 
        right: 3rem;
      }
    }

    &__chipIcon {
      position: absolute;
      font-size: 2rem;
      fill: #5a6bf6;
      top: 1.7rem;
      right: 4rem;
      cursor: text;

      
      @media only screen and (max-width: 37.5em) {
        top: 2.35rem;
      }

      @media only screen and (max-width: 17.5em) {
        font-size: 1.8rem;
        top: 2.5rem;
        right: 3rem;
      }
    }

    &__iconPassword {
      cursor: pointer;
    }

    &__btnWrapper {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      padding: 0 6.387%0 0;
    }

    &__btn {
      display: inline-block;
      border: none;
      outline: none;
      text-transform: capitalize;
      width: 100%;
      min-width: 11rem;
      padding: 2rem 1rem;
      font-size: 1.4rem;
      font-weight: 900;
      background-color: #696cff;
      color: #fff;
      border-radius: 0.6rem;
      line-height: 1;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      @media only screen and (max-width: 17.5em) {
        padding: 1.5rem 1rem;
      }

      &:hover {
        background-color: #d6d8ff;
        color: #fff;
        border-color: #d6d8ff;
      }
    }
  }

  .links {
    padding: 1.5rem 0;
    text-align: center;

    a {
      &,
      &:link,
      &:visited {
        line-height: 2.2rem;
        font-weight: 400;
        font-size: 1.4rem;
        color: #69717a ;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-bottom: none;
        transition: all 0.15s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.registerContainer {
  padding-bottom: 5rem;
}
