.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;

  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    width: 60rem;
    min-height: 70rem;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 1rem;

    &.modalGenre {
      position: relative;
    }

    &__header {
      display: flex;
      justify-content: flex-end;
    }

    &__iconWrapper {
      width: 3.5rem;
      height: 3.5rem;
      background-color: #f00;
      color: #fff;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__closeIcon {
      font-size: 2.5rem;
      cursor: pointer;
    }

    &__body {
      padding-top: 1rem;
    }
    
    &__bodyGenre {
      padding-top: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}
