.navbar {
  width: 100%;
  min-height: 5.6rem;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(64, 60, 67, 0.16) 0px 2px 15px 1px;
  z-index: 2000;

  &.scrolled {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: transparent;

    .logo {
      color: #1b004f;
    }

    .list__items {
      a {
        &,
        &:link,
        &:visited {
          color: #fff;
          color: #1b004f;
        }
      }
    }
  }

  &.active {
    .list {
      display: none;
    }

    .search {
      // display: none;
    }
  }

  &__left {
    flex: 2;
    display: flex;
    align-items: center;
    margin-left: 20rem;

    @media only screen and (max-width: 56.25em) {
      flex: 1;
      margin-left: 10rem;
    }

    .logo {
      margin-right: 5rem;
      text-transform: uppercase;
      color: #1b004f;
    }

    .list {
      list-style: none;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 56.25em) {
        display: none;
      }

      &__items {
        color: #1b004f;
        font-size: 0.875rem;
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: 700;
        text-transform: capitalize;

        &:not(:last-of-type) {
          margin-right: 1rem;
        }

        & > * {
          text-decoration: none;
          color: currentColor;
        }

        a {
          &,
          &:link,
          &:visited {
            color: #1b004f;
          }

          &:active {
            color: #1b004f;
          }
        }
      }
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      justify-content: flex-end;
      margin-right: 10rem;
    }

    .search {
      margin-right: auto;
      background-color: #fff;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      position: relative;

      @media only screen and (max-width: 56.25em) {
        display: none;
      }

      &__input {
        border: none;
        outline: none;
        width: 40rem;
        padding: 1rem 4rem;
        font-family: inherit;
        font-size: 1.4rem;
        background-color: transparent;
        color: #999;
        border: 1px solid rgb(238, 238, 238);
        border-radius: 0.5rem;
        caret-color: #1b004f;
        transition: all 1s ease-in-out;
        z-index: 2;

        &:focus {
          border: 1px solid #999;
        }
      }

      &__icon {
        position: absolute;
        right: 1rem;
        color: #999;
        font-size: 2rem;
        z-index: 1;
      }
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 3.2rem;
      height: 2.5rem;
      margin-right: 2rem;
      cursor: pointer;
      opacity: o;
      visibility: hidden;

      @media only screen and (max-width: 56.25em) {
        opacity: 1;
        visibility: visible;
      }

      span {
        width: 100%;
        height: 0.2rem;
        background-color: #1a2027;
        transform-origin: left;
        transition: all 1s ease-in-out;
      }

      &.active {
        span {
          &:first-child {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            display: none;
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
