.related {
  padding: 6rem 0;
  background-color: #f9f9f9;

  &__wrapper {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;

    @media only screen and (max-width: 48em) {
      max-width: 58rem;
    }

    @media only screen and (max-width: 31.25em) {
      max-width: 50rem;
    }

    @media only screen and (max-width: 26.25em) {
      max-width: 35rem;
    }

    @media only screen and (max-width: 21.875em) {
      max-width: 25rem;
    }
  }

  &__header {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1d256b;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 48em) {
      font-weight: 500;
      font-size: 1.4rem;
    }

    &::after {
      display: inline-block;
      content: '';
      width: 3rem;
      height: 3px;
      background-color: #5a6bf6;
      margin: 0 auto;
      margin-top: 3rem;

      @media only screen and (max-width: 48em) {
        width: 2.5rem;
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7rem;

    @media only screen and (max-width: 56.25em) {
      justify-content: flex-start;
    }

    @media only screen and (max-width: 31.25em) {
      gap: 2rem;
    }
  }
}
