.sidebar {
  width: 30rem;
  background-color: #090c10;
  background-color: #5a6bf6;
  position: fixed;
  top: 5.6rem;
  right: -30rem;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1),
    cubic-bezier(0.77, 0.2, 0.05, 1),
    cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 1000;

  @media only screen and (max-width: 64em) {
    top: 6.83rem;
    height: 50rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 2rem;
  }

  @media only screen and (max-width: 57.5em) {
    padding-bottom: 7rem;
  }

  @media only screen and (max-width: 56.25em) {
    top: 7.1rem;
    width: 40rem;
    right: -40rem;
  }

  @media only screen and (max-width: 50em) {
    width: 82rem;
    right: -82rem;
    height: 100vh;
  }

  @media only screen and (max-width: 45em) {
    padding: 7rem 0 10rem 0;
  }

  @media only screen and (max-width: 37.5em) {
    width: 100%;
    right: -100%;
  }

  &.active {
    right: 3rem;

    @media only screen and (max-width: 56.25em) {
      right: 0;
    }
  }

  .list {
    width: 50%;
    list-style: none;

    @media only screen and (max-width: 64em) {
      width: 70%;
    }

    @media only screen and (max-width: 37.5em) {
      width: 60%;    
    }

    @media only screen and (max-width: 31.25em) {
      width: 50%;
    }

    &__items {
      line-height: 1.5;
      font-size: 1.5rem;

      @media only screen and (max-width: 64em) {
        font-size: 1.7rem; 
        line-height: 1.3;
      }

      @media only screen and (max-width: 50em) {
        font-weight: 300;
        font-size: 4rem; 
      }

      @media only screen and (max-width: 48em) {
        line-height: 1.5;
      }

      @media only screen and (max-width: 45em) {
        font-size: 3.3rem;
        line-height: 1.2;
      }

      @media only screen and (max-width: 40.813em) {
        font-size: 1.47rem;
      }

      @media only screen and (max-width: 37.5em) {
        font-size: 3.3rem;
      }

      @media only screen and (max-width: 31.25em) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 17.5em) {
        font-size: 2.5rem;
      }

      &:not(:last-of-type) {
        margin-bottom: 2rem;

        @media only screen and (max-width: 50em) {
          margin-bottom: 2.3rem;
        }

        @media only screen and (max-width: 17.5em) {
          margin-bottom: 1.7rem;
        }
      }

      .sidebar__link {
        &,
        &:link,
        &:visited {
          text-decoration: none;
          color: #fff;
          transition: all 0.5s ease-in-out;
        }
        
        &:active {
          color: inherit;
        }
  
        &:hover {
          font-weight: 700;
          letter-spacing: 2px;
        }
      }

      .btn__logout {
        border: none;
        display: inline-block;
        text-transform: capitalize;
        font-size: 1.5rem;
        line-height: 1.5;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        margin-bottom: 2rem;
        transition: all 0.5s ease-in-out;

        @media only screen and (max-width: 64em) {
          font-size: 1.7rem; 
          line-height: 1.3;
        }
  
        @media only screen and (max-width: 50em) {
          font-weight: 300;
          font-size: 4rem;
          margin-bottom: 2.3rem;
        }
  
        @media only screen and (max-width: 48em) {
          line-height: 1.5;
        }
  
        @media only screen and (max-width: 45em) {
          font-size: 3.3rem;
          line-height: 1.2;
        }
  
        @media only screen and (max-width: 40.813em) {
          font-size: 1.47rem;
        }
  
        @media only screen and (max-width: 37.5em) {
          font-size: 3.3rem;
        }
  
        @media only screen and (max-width: 31.25em) {
          font-size: 3rem;
        }
  
        @media only screen and (max-width: 17.5em) {
          font-size: 2.5rem;
          margin-bottom: 1.7rem;
        }

        &:hover {
          font-weight: 700;
          letter-spacing: 2px;
        }
      }
    }
  }

  .search {
    width: 100%;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 50em) {
      margin-top: 2.3rem;   
    }

    &__input {
      border: none;
      outline: none;
      display: inline-block;
      width: 20rem;
      padding: 1rem 1.25rem;
      padding-left: 3rem;
      font-family: inherit;
      font-size: 1.4rem;
      background-color: transparent;
      color: #999;
      border: 1px solid rgb(238, 238, 238);
      border-radius: 0.5rem;
      caret-color: #24299b;
      z-index: 2;

      @media only screen and (max-width: 64em) {
        width: 23rem;
        padding: 1rem 1rem 1rem 3rem;
      }

      @media only screen and (max-width: 56.25em) {
        width: 28rem;
      }

      @media only screen and (max-width: 50em) {
        width: 57rem;
      }

      @media only screen and (max-width: 50em) {
        padding: 2rem 1rem 2rem 5rem;
      }
      
      @media only screen and (max-width: 40.813em) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      
      @media only screen and (max-width: 37.5em) {
        width: 45rem;
        padding: 2rem 1rem 2rem 5rem;
      }

      @media only screen and (max-width: 37.5em) {
        width: 40rem;
      }

      @media only screen and (max-width: 31.25em) {
        width: 30rem;
      }

      @media only screen and (max-width: 26.25em) {
        width: 27rem;
      }

      @media only screen and (max-width: 17.5em) {
        width: 20rem;
      }

      &::placeholder {
        color: #999;
        font-size: 1.3rem;

        @media only screen and (max-width: 50em) {
          font-size: 2rem;
        }

        @media only screen and (max-width: 40.813em) {
          font-size: 1.6rem;
        }

        @media only screen and (max-width: 37.5em) {
          font-size: 2rem;
        }
      }
    }

    &__icon {
      position: absolute;
      top: 1.25rem;
      left: 1rem;
      color: #999;
      font-size: 2rem;
      z-index: 1;

      @media only screen and (max-width: 64em) {
        left: 1rem;
      }

      @media only screen and (max-width: 50em) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 40.813em) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 37.5em) {
        top: 1.7rem;
        font-size: 3rem;
      }
    }
  }

  .wrapper {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;

    @media only screen and (max-width: 64em) {
      width: 70%;
      margin-top: 1rem;
    }

    @media only screen and (max-width: 48em) {
      margin-top: 2rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 60%;    
    }

    @media only screen and (max-width: 31.25em) {
      width: 50%;
    }

    .darkmode {
      width: 4rem;
      height: 4rem;
      background-color: #555;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media only screen and (max-width: 64em) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media only screen and (max-width: 50em) {
        width: 5rem;
        height: 5rem;
      }

      @media only screen and (max-width: 17.5em) {
        width: 3.5rem;
        height: 3.5rem;
      }
      
      & > * {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 2.25rem;
        color: #fff;

        @media only screen and (max-width: 50em) {
          width: 3rem;
          height: 3rem;
        }

        @media only screen and (max-width: 17.5em) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
