.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 15rem 6rem;
  background-color: transparent;

  h3 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 2.7rem;
    color: #1d256b;
    margin-bottom: 10rem;
    letter-spacing: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 64em) {
      font-size: 2.2rem;
    }
    

    &::after {
      content: '';
      display: inline-block;
      width: 5rem;
      height: 3px;
      background-color: #5a6bf6;
      margin-top: 3rem;

      @media only screen and (max-width: 64em) {
        width: 3rem;   
      }
    }
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 0 7rem;
    text-align: center;
  }

  .reviews {
    width: 34rem;
  }

  .reviewer__img {
    & > * {
      border-radius: 50%;
      display: inline-block;
      object-fit: cover;
    }
  }

  .reviewer__review {
    p {
      font-weight: 300;
      font-size: 1.58rem;
      color: #aaa;
      word-wrap: break-word;
      hyphens: auto;

      @media only screen and (max-width: 64em) {
        font-size: 1.45rem;
      }
    }
  }

  .reviewer__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .ratingIcon {
      font-size: 2.5rem;

      @media only screen and (max-width: 64em) {
        font-size: 2.3rem;
      }
    }
    
    .ratingValue {
      color: #999;
      margin-left: 0.5rem;
    }
  }

  .reviewer__name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.7rem;
    color: #aaa;

    @media only screen and (max-width: 64em) {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
}
