.account {
  padding: 15rem 0;
  max-width: 110rem;
  position: relative;
  margin: 0 auto;

  @media only screen and (max-width: 64em) {
    padding: 15rem 6rem;   
    max-width: 100rem;
  }

  @media only screen and (max-width: 50em) {
    max-width: 90rem;     
  }

  @media only screen and (max-width: 26.25em) {
    padding: 10rem 3rem;       
  }

  @media only screen and (max-width: 17.5em) {
    padding: 10rem 1.5rem 5rem 1.5rem;
  }

  &__heading {
    font-weight: 500;
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 3rem;

    @media only screen and (max-width: 64em) {
      font-size: 3.4rem;
    }

    @media only screen and (max-width: 31.25em) {
      text-align: center;    
      font-weight: 700;
      font-size: 4rem;   
    }

    @media only screen and (max-width: 17.5em) {
      font-weight: 500;
      font-size: 2.8rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 60rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;

    @media only screen and (max-width: 31.25em) {
      flex-direction: column;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    }

    .left {
      flex: 1;
      border-right: 1px solid lightgray;

      @media only screen and (max-width: 50em) {
        flex: 1.5;
      }

      .userContainer {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .imageContainer {
          width: 8rem;
          height: 8rem;
          border: 0.5rem solid #fff;
          border-radius: 50%;
          box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);

          & > * {
            display: inline-block;
            object-fit: cover;
            border: 0.5rem solid #fff;
            border-radius: 50%;
            box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);
          }
        }

        .userName {
          font-weight: 500;
          font-size: 1.8rem;
          text-transform: capitalize;
          color: #777;
          margin-top: 1rem;

          @media only screen and (max-width: 64em) {
            font-size: 1.5rem;
          }

          @media only screen and (max-width: 31.25em) {
            font-weight: 700;
            font-size: 2.5rem;
          }

          @media only screen and (max-width: 17.5em) {
            font-size: 1.6rem;
          }
        }
      }

      .list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        &__item {
          display: flex;
          align-items: center;
          padding: 1.5rem 2rem;
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
          transition: all 0.5s ease-in-out;

          &:hover {
            background-color: #007bff;
            opacity: 0.5;

            .itemIcon {
              fill: #fff;
            }
            
            .itemLink {
              &:link,
              &:visited {
                color: #fff;
              }
            }
          }

          &.active {
            background-color: #007bff;
            
            .itemIcon {
              fill: #fff;
            }
            
            .itemLink {
              &:link,
              &:visited {
                color: #fff;
              }
            }
          }

          .itemIcon {
            fill: #696cff;
            font-size: 2.5rem;
            margin-right: 1rem;

            @media only screen and (max-width: 64em) {
              font-size: 2rem;
            }

            @media only screen and (max-width: 31.25em) {
              font-size: 3rem;
            }

            @media only screen and (max-width: 17.5em) {
              font-size: 2rem;
            }
          }

          .itemLink {
            &:link,
            &:visited {
              width: 100%;
              display: inline-block;
              text-decoration: none;
              text-transform: capitalize;
              font-size: 1.8rem;
              color: #555;

              @media only screen and (max-width: 64em) {
                font-size: 1.5rem;
              }

              @media only screen and (max-width: 31.25em) {
                font-size: 2rem;
              }

              @media only screen and (max-width: 17.5em) {
                font-size: 1.7rem;
              }
            }
          }
        }
      }
    }
  
    .right {
      flex: 3;
      padding: 3rem;

      @media only screen and (max-width: 64em) {
        padding-left: 0;
        padding-right: 0;       
      }

      @media only screen and (max-width: 50em) {
        flex: 2.5;
      }

      @media only screen and (max-width: 31.25em) {
        padding: 3rem;     
      }

      .accountHeader {
        font-weight: 500;
        font-size: 3rem;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 3rem;

        @media only screen and (max-width: 64em) {
          font-size: 2.5rem;     
        }

        @media only screen and (max-width: 31.25em) {
          font-weight: 600;
          font-size: 3rem;   
        }

        @media only screen and (max-width: 17.5em) {
          font-weight: 400;
          font-size: 2.4rem;     
        }
      }

      .formWrapper {
        width: 70%;
        position: relative;
        margin: 0 auto;

        @media only screen and (max-width: 50em) {
          width: 100%;
          padding-left: 2rem;
        }

        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &__icon {
            position: absolute;
            font-size: 2rem;
            fill: #5a6bf6;
            top: 1rem;
            right: 5rem;
            cursor: text;

            @media only screen and (max-width: 64em) {
              font-size: 1.5rem;
              top: 1.3rem;
            }
          }

          &__iconPassword {
            cursor: pointer;
          }

          &__left {
            flex: 1;
          }

          &__right {
            flex: 1;
          }
        }
      }

      .delete {
        margin-top: 5rem;
        
        &__header {
          display: block;
          font-weight: 500;
          font-size: 2rem;
          text-transform: capitalize;
          text-align: center;
          margin-bottom: 2rem;

          @media only screen and (max-width: 64em) {
            font-size: 1.8rem;
          }
        }
        
        &__container {
          width: 70%;
          position: relative;
          margin: 0 auto;

          @media only screen and (max-width: 39.69em) {
            width: 80%;
          }
        }

        &__message {
          font-size: 1.4rem;
          margin-bottom: 1rem;

          @media only screen and (max-width: 39.69em) {
            font-size: 1.43rem;
          }

          strong {
            font-size: 1.6rem;

            @media only screen and (max-width: 39.69em) {
              font-size: 1.48rem;
            }
          }
        }

        &__btn {
          border: none;
          display: inline-block;
          padding: 0.5rem 2rem;
          background-color: transparent;
          color: #de0a0a;
          border: 1px solid #de0a0a;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: all 0.5s ease-in-out;

          &:hover {
            background-color: rgba(222,10,10,.1);
          }
        }
      }
    }
  }
}
